@import '../../node_modules/accoutrement-color/sass/color';

// Brand Colors
// ------------
$brand-colors: (
    'brand-blue': hsl(208, 77%, 47%),
    'brand-gold': #d89d5f,
);

// Neutral Colors
// --------------
$neutral-colors: (
    'white': hsl(0, 0%, 100%),
    'soft-white': hsl(53, 36%, 96%),
    'lt-grey': hsl(0, 0%, 80%),
    'md-grey': hsl(0, 0%, 60%),
    'dk-grey': hsl(0, 0%, 30%),
    'black': hsl(0, 0%, 0%),
);

@include add-colors($brand-colors, $neutral-colors);

@mixin grey-dotted-border {
    border-radius: 5px;
    border-width: 3px;
    border-style: dotted;
    border-color: color('md-grey' ('lighten': 10%));
}
