.content-basic {
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: color('white');

    @media (min-width: $mobile-large) {
        padding-top: 4rem;
        padding-bottom: 4rem;
    }
}

.content-prose {
    @extend .content-basic;
    padding-bottom: 3rem;

    @media (min-width: $mobile-large) {
        padding-bottom: 6rem;
    }
}

.content-message {
    @extend .content-basic;

    padding-bottom: 9rem;
}
