img, video {
    max-width: 100%;

    /* auto height preserves ratio when the image is scaled. */
    height: auto;
}

.media-container {
    /* ensure the image or video fully occupies its container, even if we only
     * have a lower resolution to offer.
     */
    img, video {
        width: 100%;
    }
}

/* IE11 tries to play one of the videos and fails, so
 * the fallback image at the end of the video node doesn't
 * kick in. Instead we use CSS to hide the video on IE and
 * display the image.
 */
.media-container .only-ie {
    display: none;
}
@include only-ie {
    .media-container .not-ie {
        display: none;
    }
    .media-container .only-ie {
        display: block;
    }
}
